BODY {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
UL {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
OL {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
LI {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bodycopy {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bodycopysmall {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.contactus {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.additionalButton {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bvbuttons {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.pageheading {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.parentheading {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.subheading {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.pagetitle {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.producttitle {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.subtitle {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.subtitle2 {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.whitesubtitle {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.leftnavtitle {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.menulink {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.toplevelmenulink {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.menulink {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.toplevelmenulink {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.ddm {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.ddm {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.altnavmenu1 {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.altnavmenu2 {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.vertline {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.listitem {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.breadcrumb {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.ctmenu {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.ctmenu {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.rmenu {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.aboutSub {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tableheader {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.tableheader {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.frenchwarn {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.webmaster {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.breadcrumb {
	FONT-SIZE: 10px
}
.bodycopysmall {
	FONT-SIZE: 11px
}
.bvbuttons {
	FONT-SIZE: 11px
}
.altnavmenu2 {
	FONT-SIZE: 11px
}
.listitem {
	FONT-SIZE: 11px
}
.menulink {
	FONT-SIZE: 11px
}
A.menulink {
	FONT-SIZE: 11px
}
.ctmenu {
	FONT-SIZE: 11px
}
A.ctmenu {
	FONT-SIZE: 11px
}
.ddm {
	FONT-SIZE: 11px
}
A.ddm {
	FONT-SIZE: 11px
}
.webmaster {
	FONT-SIZE: 11px
}
.frenchwarn {
	FONT-SIZE: 13px
}
.rmenu {
	FONT-SIZE: 13px
}
.subtitle {
	FONT-SIZE: 13px
}
.subtitle2 {
	FONT-SIZE: 13px
}
.whitesubtitle {
	FONT-SIZE: 13px
}
.subheading {
	FONT-SIZE: 14px
}
.producttitle {
	FONT-SIZE: 14px
}
.pagetitle {
	FONT-SIZE: 14px
}
.contactus {
	FONT-SIZE: 14px
}
.leftnavtitle {
	FONT-SIZE: 15px
}
.dontchange {
	FONT-SIZE: 16px
}
.dontchange2 {
	FONT-SIZE: 16px
}
.pageheading {
	FONT-SIZE: 18px
}
.additionalButton {
	FONT-WEIGHT: bold
}
.frenchwarn {
	FONT-WEIGHT: bold
}
.pageheading {
	FONT-WEIGHT: bold
}
.parentheading {
	FONT-WEIGHT: bold
}
.subheading {
	FONT-WEIGHT: bold
}
.pagetitle {
	FONT-WEIGHT: bold
}
.producttitle {
	FONT-WEIGHT: bold
}
.subtitle {
	FONT-WEIGHT: bold
}
.whitesubtitle {
	FONT-WEIGHT: bold
}
.leftnavtitle {
	FONT-WEIGHT: bold
}
.rmenu {
	FONT-WEIGHT: bold
}
.toplevelmenulink {
	FONT-WEIGHT: bold
}
A.toplevelmenulink {
	FONT-WEIGHT: bold
}
.tableheader {
	FONT-WEIGHT: bold
}
A.tableheader {
	FONT-WEIGHT: bold
}
.contactus {
	FONT-WEIGHT: bold
}
.pageheading {
	COLOR: #333333
}
.subheading {
	COLOR: #333333
}
.leftnavtitle {
	COLOR: #333333
}
.breadcrumb {
	COLOR: #666666
}
.parentheading {
	COLOR: #666666
}
.subtitle2 {
	COLOR: #cc3300
}
.frenchwarn {
	COLOR: #ff6633
}
.altnavmenu1 {
	COLOR: #666666
}
.altnavmenu2 {
	COLOR: #666666
}
.pagetitle {
	COLOR: #ffffff
}
.whitesubtitle {
	COLOR: #ffffff
}
.ctmenu {
	COLOR: #ffffff
}
.ddm {
	COLOR: #ffffff
}
.tableheader {
	COLOR: #ffffff
}
.vertline {
	COLOR: #999999
}
.toplevelmenulink {
	COLOR: #999999
}
.menulink {
	COLOR: #cccccc
}
A:link {
	COLOR: #336699
}
A.pageheading {
	COLOR: #336699
}
A.subheading {
	COLOR: #336699
}
A.leftnavtitle {
	COLOR: #336699
}
A.parentheading {
	COLOR: #336699
}
A.subtitle2 {
	COLOR: #336699
}
A.altnavmenu1 {
	COLOR: #336699
}
A.altnavmenu2 {
	COLOR: #336699
}
A.frenchwarn {
	COLOR: #336699
}
A.breadcrumb {
	COLOR: #336699
}
A:visited {
	COLOR: #663366
}
A.pageheading:visited {
	COLOR: #663366
}
A.subheading:visited {
	COLOR: #663366
}
A.leftnavtitle:visited {
	COLOR: #663366
}
A.parentheading:visited {
	COLOR: #663366
}
A.subtitle2:visited {
	COLOR: #663366
}
A.altnavmenu1:visited {
	COLOR: #663366
}
A.altnavmenu2:visited {
	COLOR: #663366
}
A.frenchwarn:visited {
	COLOR: #663366
}
A.breadcrumb:visited {
	COLOR: #663366
}
A:hover {
	COLOR: #cc3300; TEXT-DECORATION: underline
}
A.pageheading:hover {
	COLOR: #cc3300; TEXT-DECORATION: underline
}
A.subheading:hover {
	COLOR: #cc3300; TEXT-DECORATION: underline
}
A.leftnavtitle:hover {
	COLOR: #cc3300; TEXT-DECORATION: underline
}
A.parentheading:hover {
	COLOR: #cc3300; TEXT-DECORATION: underline
}
A.subtitle2:hover {
	COLOR: #cc3300; TEXT-DECORATION: underline
}
A.altnavmenu1:hover {
	COLOR: #cc3300; TEXT-DECORATION: underline
}
A.altnavmenu2:hover {
	COLOR: #cc3300; TEXT-DECORATION: underline
}
A.frenchwarn:hover {
	COLOR: #cc3300; TEXT-DECORATION: underline
}
A.breadcrumb:hover {
	COLOR: #cc3300; TEXT-DECORATION: underline
}
A:active {
	COLOR: #cc6699
}
A.pageheading:active {
	COLOR: #cc6699
}
A.subheading:active {
	COLOR: #cc6699
}
A.leftnavtitle:active {
	COLOR: #cc6699
}
A.parentheading:active {
	COLOR: #cc6699
}
A.subtitle2:active {
	COLOR: #cc6699
}
A.altnavmenu1:active {
	COLOR: #cc6699
}
A.altnavmenu2:active {
	COLOR: #cc6699
}
A.frenchwarn:active {
	COLOR: #cc6699
}
A.breadcrumb:active {
	COLOR: #cc6699
}
A.subheading {
	TEXT-DECORATION: underline
}
A.pageheading {
	TEXT-DECORATION: underline
}
A.subtitle2 {
	TEXT-DECORATION: underline
}
A.leftnavtitle {
	TEXT-DECORATION: underline
}
A.menulink {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.menulink:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.toplevelmenulink {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.toplevelmenulink:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.pagetitle {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.pagetitle:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.whitesubtitle {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.whitesubtitle:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.vertline {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.vertline:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.ctmenu {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.ctmenu:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.ddm {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.ddm:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.tableheader {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.tableheader:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.aboutSub {
	TEXT-DECORATION: none
}
.additionalButton {
	TEXT-DECORATION: none
}
.parentheading {
	TEXT-DECORATION: none
}
.rmenu {
	TEXT-DECORATION: none
}
.listitem {
	TEXT-DECORATION: none
}
.altnavmenu1 {
	TEXT-DECORATION: none
}
.altnavmenu2 {
	TEXT-DECORATION: none
}
.menulink {
	TEXT-DECORATION: none
}
.toplevelmenulink {
	TEXT-DECORATION: none
}
.pagetitle {
	TEXT-DECORATION: none
}
.whitesubtitle {
	TEXT-DECORATION: none
}
.vertline {
	TEXT-DECORATION: none
}
.ctmenu {
	TEXT-DECORATION: none
}
.ddm {
	TEXT-DECORATION: none
}
.vertline {
	TEXT-DECORATION: none
}
A.menulink:hover {
	COLOR: #ffcc00; TEXT-DECORATION: underline
}
A.toplevelmenulink:hover {
	COLOR: #ffcc00; TEXT-DECORATION: underline
}
A.pagetitle:hover {
	COLOR: #ffcc00; TEXT-DECORATION: underline
}
A.whitesubtitle:hover {
	COLOR: #ffcc00; TEXT-DECORATION: underline
}
A.vertline:hover {
	COLOR: #ffcc00; TEXT-DECORATION: underline
}
A.ctmenu:hover {
	COLOR: #ffcc00; TEXT-DECORATION: underline
}
A.ddm:hover {
	COLOR: #ffcc00; TEXT-DECORATION: underline
}
A.tableheader:hover {
	COLOR: #ffcc00; TEXT-DECORATION: underline
}
A.menulink:active {
	COLOR: #cc6699
}
A.toplevelmenulink:active {
	COLOR: #cc6699
}
A.pagetitle:active {
	COLOR: #cc6699
}
A.whitesubtitle:active {
	COLOR: #cc6699
}
A.vertline:active {
	COLOR: #cc6699
}
A.ctmenu:active {
	COLOR: #cc6699
}
A.ddm:active {
	COLOR: #cc6699
}
A.tableheader:active {
	COLOR: #cc6699
}
A.tableheader {
	TEXT-DECORATION: underline
}
A.tableheader:visited {
	TEXT-DECORATION: underline
}
A.tableheader:hover {
	TEXT-DECORATION: underline
}
A.tableheader:active {
	TEXT-DECORATION: underline
}
A.breadcrumb {
	TEXT-DECORATION: underline
}
A.breadcrumb:visited {
	TEXT-DECORATION: underline
}
.overheading {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.pagesublink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.pagesublink {
	FONT-SIZE: 13px
}
